In [2]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import manifold
import pandas as pd
import os
import matplotlib.pyplot as plt
from scipy.stats import gaussian_kde
import matplotlib as mpl

In [3]:
allmp = pd.read_csv("./all_mp_all_props.csv")

/tmp/ipykernel_856505/1266960198.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  allmp = pd.read_csv("./all_mp_all_props.csv")

In [4]:
pizeo = allmp[~allmp['Piezoelectric_Modulus'].isna()]

In [11]:
allmp_binay = pd.read_csv("./all_mp_binary_class.csv",index_col=False)

In [6]:
pizeo=pizeo[["mp_id","Piezoelectric_Modulus"]]

In [12]:
pizeo_wf= pd.merge(right=pizeo, 
                left=allmp_binay, 
                how='right', 
                right_on='mp_id', 
                left_on='mp_id')

In [14]:
pizeo_wf=pizeo_wf[["mp_id","formula","Piezoelectric_Modulus"]]

In [16]:
pizeo_wf.to_csv("./piezoelectric_mp_ids.csv",index=False)

In [3]:
abc3 = pd.read_csv("./abc3_mp_ids.csv")

In [4]:
abc3

           mp_id  formula   XYZ
0     mp-1178563   AgAsO3  ABC3
1     mp-1183052    AcBO3  ABC3
2     mp-1183053   AcGaO3  ABC3
3     mp-1183115   AcAlO3  ABC3
4     mp-1183139   AcNiO3  ABC3
...          ...      ...   ...
4353  mp-1217533   TbUTe3  ABC3
4354    mp-17324   ZrSnS3  ABC3
4355     mp-5193   SrZrS3  ABC3
4356   mp-541570  SrZrSe3  ABC3
4357     mp-7276    ScUS3  ABC3

[4358 rows x 3 columns]

In [5]:
import re
def splitformula (input):
    return re.findall('[A-Z][^A-Z]*', input)

abc3['ele1']=abc3['formula'].apply(lambda x : splitformula(x)[0])
abc3['ele2']=abc3['formula'].apply(lambda x : splitformula(x)[1])
abc3['ele3']=abc3['formula'].apply(lambda x : splitformula(x)[2])

In [8]:
abc3

           mp_id  formula   XYZ ele1 ele2 ele3
0     mp-1178563   AgAsO3  ABC3   Ag   As   O3
1     mp-1183052    AcBO3  ABC3   Ac    B   O3
2     mp-1183053   AcGaO3  ABC3   Ac   Ga   O3
3     mp-1183115   AcAlO3  ABC3   Ac   Al   O3
4     mp-1183139   AcNiO3  ABC3   Ac   Ni   O3
...          ...      ...   ...  ...  ...  ...
4353  mp-1217533   TbUTe3  ABC3   Tb    U  Te3
4354    mp-17324   ZrSnS3  ABC3   Zr   Sn   S3
4355     mp-5193   SrZrS3  ABC3   Sr   Zr   S3
4356   mp-541570  SrZrSe3  ABC3   Sr   Zr  Se3
4357     mp-7276    ScUS3  ABC3   Sc    U   S3

[4358 rows x 6 columns]

In [6]:
abo3 = abc3[abc3['ele3']=="O3"]

In [13]:
abo3=abo3[["mp_id","formula","XYZ","ele3"]]
abo3 = abo3.rename(columns={"XYZ":"anonymous_formulas","ele3":"C3"})

KeyError: "['XYZ', 'ele3'] not in index"

In [ ]:
abo3.to_csv("./ABO3_mp_ids.csv",index=False)